<!DOCTYPE html>
<html lang="en" ng-app="Diabetes">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Diabetes Care</title>
    <!-- Bootstrap -->
    <link href="~/Template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Template/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- iCheck -->
    <link href="~/Template/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    <link href="~/Template/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
    <!-- JQVMap -->
    <link href="~/Template/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <!-- Custom Theme Style -->
    <link href="~/Template/build/css/custom.min.css" rel="stylesheet">
    <style>
        body {
            font-family: 'Kanit', sans-serif;
        }

        #head {
            color: #333;
            background-color: darkred;
            border-color: #5c5151;
        }
    </style>
</head>
<body>
    <!-- page content -->
    <div id="head" class="panel panel-default" role="main">
        <div id="head" class="panel-heading ui-draggable-handle">
            <h1 class="panel-title" style="color:white" align="center"></h1>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>
                            Register
                        </h2>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">

                           <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    UserName</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" class="form-control has-feedback-left" id="username" placeholder="username" required="required">
                                        <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    Password </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="password" class="form-control has-feedback-left" id="password" placeholder="password" required="required">
                                        <span class="fa fa-unlock-alt form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12 form-group has-feedback">
                                    ConfirmPassword </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="password" class="form-control has-feedback-left" id="confirm" placeholder="confirm password" required="required">
                                        <span class="fa fa-unlock-alt form-control-feedback left" aria-hidden="true"></span>
                                    </div>
                                </div>
                           
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                   Firstname
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="firstname" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Lastname
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" id="lastname" name="lastname" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="genders" class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Gender
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p>
                                        <input class="flat iradio_flat-green" ng-model="register.gender" type="radio"
                                               name="genders" value="1" />
                                        Male
                                        <input class="flat iradio_flat-green" type="radio" ng-model="register.gender"
                                               name="gender" value="2" />
                                        Female
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">
                                    Email
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="email" class="form-control has-feedback-left" id="email" placeholder="example@email.com" required="required">
                                    <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                    Age
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="number" id="lastname" name="lastname" required="required" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-3" for="last-name">
                                    Weight
                                </label>
                                <div class="col-md-2 col-sm-3 col-xs-3">
                                    <input type="number" id="lastname" name="lastname" required="required" class="form-control col-md-2 col-xs-6">
                                </div>
                                <label class="control-label col-md-1 col-sm-1 col-xs-1" for="height">
                                    Height
                                </label>
                                <div class="col-md-2 col-sm-2 col-xs-3">
                                    <input type="number" id="lastname" name="lastname" required="required" class="form-control col-md-2 col-xs-6">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Symptom
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control">
                                        <option value="">Select Symptom</option>
                                        <option value="1">insulin</option>
                                        <option value="2">Not insulin</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Complication
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control">
                                        <option value="">Select Complication</option>
                                        <option value="1">retinopathy</option>
                                        <option value="2">nephropathy</option>
                                        <option value="3">neuropathy</option>
                                        <option value="4">Diabetic ulcer</option>
                                        <option value="5">Diabetic foot</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Disease
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select class="form-control">
                                        <option value="">Select Disease</option>
                                        <option value="1">Cardiovascular Disease)</option>
                                        <option value="2">High blood pressure</option>
                                        <option value="3">kidney disease</option>
                                        <option value="4">peripheral neuropathy Disease</option>
                                        <option value="5">Eye disease</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="genders" class="control-label col-md-3 col-sm-3 col-xs-12">
                                    Drug allergy
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <p>
                                        <input class="flat iradio_flat-green" type="radio"
                                               name="genders" value="1"> Yes
                                        <input class="flat iradio_flat-green" type="radio"
                                               name="gender" value="2"> No
                                    </p>
                                </div>
                            </div>
                           
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button onclick="parent.location='/Login/Login'" type="button"
                                            class="btn btn-primary pull-right">
                                        Cancel
                                    </button>
                                    <button type="submit" onclick="parent.location='/'"
                                            class="btn btn-success pull-right">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

    @*---------------------------------------------- Modal Alert Success ------------------------------------------*@
    <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="defModalHead" aria-hidden="true" align="center">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">{{'Close' | translate}}</span></button>
                    <h4 class="modal-title" id="defModalHead">RegisterSuccess </h4>
                </div>
                <div class="modal-body">
                    <img src="~/Images/register/right_icon.png" class="img-responsive" />
                    <h4>mainpage </h4>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="parent.location='/#/Point'" class="btn btn-success" data-dismiss="modal">{{'YES' | translate}} </button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">NO </button>
                </div>
            </div>
        </div>
    </div>

    <!-- /footer content -->
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-sanitize.js"></script>
    <script src="~/DiabetesJS/app.js"></script>

    <!-- jQuery -->
    <script src="~/Template/vendors/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/Template/vendors/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- FastClick -->
    <script src="~/Template/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="~/Template/vendors/nprogress/nprogress.js"></script>
    <!-- gauge.js -->
    <script src="~/Template/vendors/gauge.js/dist/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="~/Template/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="~/Template/vendors/iCheck/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="~/Template/vendors/skycons/skycons.js"></script>
    <!-- Flot -->
    <script src="~/Template/vendors/Flot/jquery.flot.js"></script>
    <script src="~/Template/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="~/Template/vendors/Flot/jquery.flot.time.js"></script>
    <script src="~/Template/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="~/Template/vendors/Flot/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="~/Template/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="~/Template/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="~/Template/vendors/flot.curvedlines/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="~/Template/vendors/DateJS/build/date.js"></script>
    <!-- JQVMap -->
    <script src="~/Template/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="~/Template/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="~/Template/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Template/js/moment/moment.min.js"></script>
    <script src="~/Template/js/datepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Template/build/js/custom.min.js"></script>
    <!-- Flot -->
    <script data-require="ui-bootstrap@1.0.0" data-semver="1.0.0" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.0/ui-bootstrap-tpls.js"></script>

    <script>
    $(document).ready(function() {
    $.listen('parsley:field:validate', function() {
    validateFront();
    });
    $('#demo-form2 .btn').on('click', function() {
    $('#demo-form2').parsley().validate();
    validateFront();
    });
    var validateFront = function() {
    if (true === $('#demo-form2').parsley().isValid()) {
    $('.bs-callout-info').removeClass('hidden');
    $('.bs-callout-warning').addClass('hidden');
    } else {
    $('.bs-callout-info').addClass('hidden');
    $('.bs-callout-warning').removeClass('hidden');
    }
    };
    });
    try {
    hljs.initHighlightingOnLoad();
    } catch (err) {}
    </script>


</body>
</html>
