<!DOCTYPE html>
<html lang="en" ng-app="Diabetes">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Diabetes Cares </title>

    <!-- Bootstrap -->
    <link href="~/Template/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Template/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Template/vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="~/Template/vendors/animate.css/animate.min.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="~/Template/build/css/custom.min.css" rel="stylesheet">
</head>

<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>

        <div class="login_wrapper">
            <div class="animate form login_form">
                <img src="~/Image/logo-100.png" class="img-responsive center-block">
                <section class="login_content">
                    <h2>Diabetes Care</h2>
                    <h5> An Application of Mobile OCR for medical record tracking in diabetes </h5>
                    <form>
                        <h1>Login</h1>
                        <div>
                            <input type="text" class="form-control" placeholder="Username" required="" />
                        </div>
                        <div>
                            <input type="password" class="form-control" placeholder="Password" required="" />
                        </div>
                        <div class="separator">
                            <div>
                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <a href="/" class="btn btn-info btn-block"><span class="fa fa-sign-in"></span> Log in</a>
                                </div>

                                <div class="col-md-6 col-sm-6 col-xs-6">
                                    <a href="/Register/Register" class="btn btn-info btn-block"><span class="fa fa-edit"></span> Create an account </a>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <br />
                            <div>
                                <p>©2017 Project2. Software Engineering PSU Phuket campus</p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
 
        </div>
    </div>
</body>
</html>
